.getAppointment{
    width:50%;
    height:200px;
    box-shadow:5px 2px 20px #ddd;
    margin-left:20px;
    margin-top:50px;
    margin-right:20px;
}
.getAppointment table{
    width:100%;
    padding:10px;
}
.getAppointment table tr{
}
.getAppointment .text{
    display:flex;
    width:100%;
}
.getAppointment .text h5{
    font-weight:bolder;
    color:#12D0D7;
    margin:20px;
}
.getAppointment .text h6{
    font-weight:bolder;
    margin:20px;
    margin-left:60%;
}
