.formAlert{
    position:fixed;
    left:25%;
    top:5%;
    width:100%;
}
.formAlert form{
    width:700px;
    display: block;
    border:1px solid slategrey;
    border-radius:10px;
    background-color: white;
    padding:20px;
    position: relative;
}
.formAlert form h2{
    text-align: center;
    font-weight:bolder;
    color:#12D0D7;
    font-size:30px;
}
.formAlert form h5{
    text-align:center;
}
.formAlert form h3{
    text-align: center;
    font-weight:bolder;
    color:#12D0D7;
}
.formAlert form input,select{
    padding:12px 10px;
    display: block;
    width:80%;
    margin: auto;
    border-radius:3px;
    margin-top:15px;
    border:1.5px solid #ddd;
    font-size:16px;
}
.formAlert  form select{
    width:83%;
}
.formAlert form .send{
    width:20%;
    font-family: 'Roboto Mono', monospace;
    padding:10px 30px;
    border:none;
    background-image:linear-gradient(-90deg,#0FCFE8,#18D2B1);
    color:white;
    font-weight:700;
    display: block;
    cursor: pointer;
}
.formAlert .close{
    position:absolute;
    top:10px;
    right:10px;
    border:none;
    background-color: white;
    font-size:20px;
    cursor: pointer;
}
.formAlert .row{
    display:flex;
    width:80%;
    justify-content:center;
    margin: 20px auto;
}
.formAlert .row .rowInput{
    width:30%;
    display: block;
    margin:2%;
}
.formAlert .row .rowInput:last-child{
    margin-right:0;
}
.formAlert .row .select{
    width:30%;
    display: block;
    margin:2%;
    margin-left:0;
}
.p{
    text-align:center;
    display:block;
    color:red;
    font-style: italic;
}